<div id="wrapper">
  <nav
    class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
  >
    <div class="container-fluid d-flex">
      <a
        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
        href="#"
        style="padding-left: 0px !important"
      >
        <div class="sidebar-brand-text">Personal Budget</div>
      </a>
      <hr class="sidebar-divider my-0" />
      <ul class="nav navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item">
          <a class="nav-link active" (click)="onChangeMenu('Dashboard')"
            ><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onChangeMenu('Transactions')"
            ><i class="fas fa-user"></i><span>Transactions</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/table.html"
            ><i class="fas fa-table"></i><span>Table</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login.html"
            ><i class="far fa-user-circle"></i><span>Login</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="OnLogout()"
            ><i class="fas fa-user-circle"></i><span>Log Out</span></a
          >
        </li>
      </ul>
      <div class="text-center d-none d-md-inline">
        <button
          class="btn rounded-circle border-0"
          id="sidebarToggle"
          type="button"
        ></button>
      </div>
    </div>
  </nav>
  <div id="wrapper">
    <app-dashboard *ngIf="selectedMenu=='Dashboard'"></app-dashboard>
    <app-transactions *ngIf="selectedMenu=='Transactions'"></app-transactions>
  </div>
</div>
