<div class="d-flex" id="content-wrapper" style="padding: 40px">
  <div id="content">
    <div class="container-fluid" >
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Transactions</h3>
      </div>
      <div class="row">
          <div class="align-items-center no-gutters">
              <button
                type="button"
                class="btn btn-secondary btn-lg"
                data-toggle="modal"
                data-target="#expenseModal"
              >
                Add Expense
              </button>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
  </div>
</div>
<div class="modal" id="expenseModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Category</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="container"></div>
      <div class="modal-body">
        <div class="form-group">
          <label for="Category">Category</label>
          <input
            type="text"
            class="form-control"
            id="Category"
            placeholder="Enter Category"
            name="Category"
          />
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            placeholder="Enter amount"
            name="amount"
          />
        </div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Close</a>
        <a class="btn btn-primary" data-dismiss="modal">Add</a>
      </div>
    </div>
  </div>
</div>
